<div class="todo-search">

  <div class="search-inputs">

    <label>
      <span>Искать: </span>
      <input type="text" name="search" #search="ngModel" ngModel/>
    </label>
    <label>
      <span>Статус: </span>
      <select name="status" ngModel #status="ngModel">
        <option *ngFor="let status of statuses"
                [ngValue]="status === 'все' ? '' : status"
        >{{status}}</option>
      </select>
    </label>

  </div>
  <button class="btn-search" (click)="handleSearchClick(search, status)">Поиск</button>
  <button class="btn-reset" (click)="handleResetClick(search, status)">Отмена поиска</button>
</div>
