<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Todo List</mat-card-title>
    <mat-card-subtitle>Лучший проект о заметках</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/todo.jpg" alt="Todo NoteBook with boy and girl around">
  <mat-card-content>
    <p>
      Проект по созданию заметок, их редактированию и даже удалению.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
