:host {
  display: grid;
  justify-items: center;
  align-items: center;
  //margin-top: 15rem;
  height: 80vh;
  width: 100%;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width{
  width: 100%;
}

.error {
  margin-top: 1rem;
}
